<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">@</span>
  </div>
  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>

<div class="input-group input-group-sm">
  <div class="input-group-prepend">
    <span class="input-group-text">Thrust</span>
  </div>
  <input
    #thrustSlider
    (change)="sliderChange(thrustSlider.value)"
    type="range"
    class="form-control"
    value="0"
  />
</div>

<div class="input-group input-group-sm">
  <div class="input-group-prepend">
    <span class="input-group-text">Port</span>
  </div>
  <input
    (mousedown)="portButton(100)"
    (mouseup)="portButton(0)"
    type="button"
    class="form-control"
  />
</div>

<div class="input-group input-group-sm">
  <div class="input-group-prepend">
    <span class="input-group-text">Starboard</span>
  </div>
  <input
    (mousedown)="starboardButton(100)"
    (mouseup)="starboardButton(0)"
    type="button"
    class="form-control"
  />
</div>
