<!--<div class="game-window">-->
  <!--<div class="box"-->
       <!--[style.top]="(ship.drawShip()[0].y + ship.dynamicBody.position.y) + 'px'"-->
       <!--[style.left]="(ship.drawShip()[0].x + ship.dynamicBody.position.x) + 'px'"-->
       <!--[style.transform]="'rotate(' + ship.dynamicBody.angle + 'rad)'"-->
  <!--&gt;</div>-->
  <!--<div class="box"-->
       <!--[style.top]="(ship.drawShip()[1].y + ship.dynamicBody.position.y) + 'px'"-->
       <!--[style.left]="(ship.drawShip()[1].x + ship.dynamicBody.position.x) + 'px'"-->
       <!--[style.transform]="'rotate(' + ship.dynamicBody.angle + 'rad)'"-->
  <!--&gt;</div>-->
<!--</div>-->
<canvas #myCanvas style="border: 1px solid black;"></canvas>
